{% extends 'base.html' %}

{% block css %}
<style>
    body{
        background-color: rgb(190, 212, 69);
       
        background-image: url('/static/images/right.png');
        background-position: right bottom;
        
        background-repeat: no-repeat;
    
    }
</style>
{% endblock %}


{% block body %}

<div class="container">
    <div class="row justify-items-center">
        {% include "notify.html" %}
        <div class="col-sm-12 my-5">
            <div class="card shadow-lg pb-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Resume : {{job.title}}</li>
                        <li class="breadcrumb-item " aria-current="page">Category : {{job.category}}</li>
                        <li class="breadcrumb-item " aria-current="page">Date : {{job.created_on.date()}}</li>
                    </ol>
                </nav>
                <h3 class="px-5">{{job.title|title}}</h3>
                <div class="card-link px-5">keywords 
                    {% for word in keywords %}
                    / <span class="badge ">{{word}}</span>  
                    {% endfor %}
                </div>  
            </div>
        </div>
        <div class="col-sm-12 my-3">
            <form method="POST">
                <div class="form-group">
                  <label for="resume_id">select your cv/resume</label>
                  <select class="form-control form-control-lg" name="resume_id" id="resume_id">
                      {% for cv in resumes %}
                        <option value="{{cv.id}}">{{cv.file}}</option>  
                      {% endfor %}
                  </select>
                </div> 
                <button class="btn btn-primary btn-lg btn-block">Apply AI recommender</button> 
            </form>
        </div>
    </div>
</div>

{% endblock %}